body {
  width: 100%;
  background-color: black;
}

.container {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

.letter {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  color: white;
  display: inline-block;
  margin: 1px;
}